In [5]:
# Importing necessary libraries
import pandas as pd
import seaborn as sns

In [6]:
# Read the file
df = pd.read_csv("spam.csv")

In [7]:
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [8]:
# Checking for number of columns
df.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [9]:
# Rename the column "v1" to "Mail_Type"
df.rename(columns={"v1":"Mail_Type"},inplace=True)

In [10]:
# Rename the column "v2" to "Mail_Message"
df.rename(columns={"v2":"Mail_Message"},inplace=True)

In [11]:
df.columns

Index(['Mail_Type', 'Mail_Message', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [12]:
# To check for the missing values
df.isnull().sum()

Mail_Type          0
Mail_Message       0
Unnamed: 2      5522
Unnamed: 3      5560
Unnamed: 4      5566
dtype: int64

In [18]:
# Drop the columns 'unnamed: 2' 'unnamed: 3 'unnamed: 4'
df.drop(columns=['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'],inplace=True)

KeyError: "['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'] not found in axis"

In [15]:
df.columns

Index(['Mail_Type', 'Mail_Message'], dtype='object')

In [16]:
df.isnull().sum()

Mail_Type       0
Mail_Message    0
dtype: int64

In [19]:
# checking for information concerning the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Mail_Type     5572 non-null   object
 1   Mail_Message  5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [21]:
# Dropping the missing values of other columns
df1 = df.dropna()
df1.isnull().sum()

Mail_Type       0
Mail_Message    0
dtype: int64

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Mail_Type     5572 non-null   object
 1   Mail_Message  5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [28]:
# Check for the unique values in the column "Mail_Type"
df1["Mail_Type"].unique()

array(['ham', 'spam'], dtype=object)

In [29]:
# checking for duplicate values
df1.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
5567    False
5568    False
5569    False
5570    False
5571    False
Length: 5572, dtype: bool

In [18]:
# to confirm the change
df2.duplicated().sum()

0

In [19]:
# Saving the new dataset into a csv file
df2.to_csv("cleaned_spam.csv",index=False)